<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GFP"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.gfp.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".ui.DefineGoalActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode="singleTop"
            android:exported="false" />
        <activity
            android:name=".ui.ReportsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode="singleTop"
            android:exported="false" />
        <activity
            android:name=".ui.TransactionsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode="singleTop"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.ModifyGoalActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:name=".ui.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SignUpActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".ui.GoalsListActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="Mes Objectifs" />
        <activity
            android:name=".ui.DashboardActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="true">
        </activity>
        <activity android:name=".ui.AnalyseActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="true" />
        <activity android:name=".ui.WelcomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTask"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".ui.CategoryOptionsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="false" />
        <activity
            android:name=".ui.ChargesActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="false" />
        <activity
            android:name=".ui.MonthlyBudgetActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="false" />
    </application>


</manifest>